<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Step Indicators -->
        <div class="step-indicators text-center mb-4">
          <span class="step-circle {{currentStep >= 1 ? 'active' : ''}}">1</span>
          <span class="step-line"></span>
          <span class="step-circle {{currentStep >= 2 ? 'active' : ''}}">2</span>
        </div>
        <div *ngIf="currentStep === 1">
          <h2>¡Bienvenido al Admin Zlipmenu! </h2>

          <p>Gracias por acceder a la versión Demo!</p>
          <p>En esta sección podrás ver:</p>

          <ul>
            <li>El comportamiento diario, mensual y anual de las ventas de tu Negocio.</li>
            <li>Los Productos más vendidos</li>
            <li> las Ultimas Ventas</li>
          </ul>

          <p>Además tienes mas opciones en el menu lateral Izquierdo</p>
          <small>Eventualmente estaremos mejorando y agregando más opciones, con actualiaciones periodicas</small>
        </div>
        <div *ngIf="currentStep === 2">
          <h2>Instalalo en tu Dispositivo! </h2>

          <p>Si puedes ver este icon en la barra de dirección:</p>
          <img src="./assets/images/barra.jpg" class="image-responsive" style="width: 100%; display: block; margin:auto"
            alt="">
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p>1 Pulsa sobre el icono y podras instalarlo en tu dispositivo (Computador, Tabla, Movil):</p>
              <img src="./assets/images/install.jpg" style="width: 100%; display: block; margin:auto" alt="">
              <br>
              <p>2 Pulsa el Boton Install</p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <p>3 Agregalo a tu barra de Inicio:</p>
              <img src="./assets/images/instalado.png" style="width: 100%; display: block; margin:auto" alt="">

            </div>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <div *ngIf="currentStep === 1" class="text-center">
              <button class="btn btn-info btn-md text-uppercase waves-effect waves-light m-r-10" type="button"
                (click)="nextStep()">
                Siguiente
              </button>
            </div>
            <div *ngIf="currentStep === 2" class="text-center">
              <button class="btn btn-secondary btn-md m-r-10" type="button" (click)="prevStep()">
                Volver
              </button>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continuar</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>