<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>En esta sección podrás:</p>
          <ul>
            <li>Crear Productos</li>
            <li>Luego de Crear el Producto, podrás agregar la imagen Principal</li>
            <li>Si el producto es unico, (no tiene variantes) coloca la palabra unico</li>
            <li>Puedes usar los ya existentes como guía o ejemplo</li>
            <li>Es necesario agregar un color y un selector, ya que este sistema es multi producto</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continuar</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>