<div class="row">
 <app-loading *ngIf="isLoading"></app-loading>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs profile-tab w-100" role="tablist" *ngIf="!isLoading">
    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#detalle" role="tab"
        aria-expanded="true">Detalles</a> </li>
    <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#editar" role="tab"
        aria-expanded="true">Editar</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#imagen" role="tab"
        aria-expanded="false">Imagenes</a> </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content" *ngIf="!isLoading">
    <div class="tab-pane active" id="detalle" role="tabpanel" aria-expanded="true">
      <div class="col-12">
        <div class="card " style="width: 100vw;">
          <div class="card-body">
            <div class="row">
              <p class="col-xs-12 col-sm-6"><b>Título:</b> {{ congeneral.titulo }}</p>
            <p class="col-xs-12 col-sm-6"><b>CR:</b> {{ congeneral.cr }}</p>
            <p class="col-xs-12 col-sm-6"><b>Teléfono uno:</b> {{ congeneral.telefono_uno }}</p>
            <p class="col-xs-12 col-sm-6"><b>Teléfono dos:</b> {{ congeneral.telefono_dos }}</p>
            <p class="col-xs-12 col-sm-6"><b>Email uno:</b> {{ congeneral.email_uno }}</p>
            <p class="col-xs-12 col-sm-6"><b>Email dos:</b> {{ congeneral.email_dos }}</p>
            <p class="col-xs-12 col-sm-6"><b>Dirección:</b> {{ congeneral.direccion }}</p>
            <p class="col-xs-12 col-sm-6"><b>Horarios:</b>{{ congeneral.horarios }}</p>
            
            <p class="col-xs-12 col-sm-6"><b>Modo Paypal Sandbox (modo de pruebas):</b></p>
            <span class="badge badge-success badge-shadow" *ngIf="congeneral.modoPaypal == true">{{
              congeneral.modoPaypal }}</span>
            <span class="badge badge-primary badge-shadow" *ngIf="congeneral.modoPaypal == false">{{
              congeneral.modoPaypal }}</span>
            <p class="col-xs-12 col-sm-6"><b>Sandbox:</b> {{ congeneral.sandbox }}</p>
            <p class="col-xs-12 col-sm-6"><b>Cliente Paypal ID:</b> {{ congeneral.clientePaypal }}</p>
            <p class="col-xs-12 col-sm-6"><b>Rapid Api Key:</b> {{ congeneral.rapidapiKey }}</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="col-xs-12 col-sm-6"><b>iframe_mapa (ubicación):</b></p>
            <!-- <iframe
              class="mapa"
              [src]="getMapIframe(congeneral.iframe_mapa)"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; "
              allowfullscreen
            ></iframe> -->

            <p class="col-xs-12 col-sm-6"><b>Logo:</b></p>
            <img [src]="congeneral.img | imagenPipe : 'congenerals'" style="width: 150px; margin-left: 10px"
              class="img-responsive img-thumbnail" alt="" />
            <p class="col-xs-12 col-sm-6"><b>Favicon:</b></p>
            <img [src]="congeneral.favicon | imagenPipe : 'congenerals'" style="width: 150px; margin-left: 10px"
              class="img-responsive img-thumbnail" alt="" />
            </div>
            <div class="reds col-xs-12 col-sm-6" style="margin-top: 120px; padding: 15px;" *ngIf="redessociales && redessociales.length > 0">
              <div class="cont" *ngFor="let red of redessociales;let i = index;" >
                
                <a  *ngIf="red.icono !== 'fa fa-whatsapp'" [href]="red.url" target="_blank" rel="noopener noreferrer">
                  <div class="option-admin">
                    <i [class]="red.icono"></i>
                    <!-- <p>{{ red.title }}</p> -->
                  </div>
                </a>
                <a *ngIf="red.icono === 'fa fa-whatsapp'" 
                    href="https://wa.me/{{red.url}}?text=Estoy%20interesado%20en%20el%20producto%20en%20la%20flechaapp,%20favor%20ampliar%20informacion"
                    target="_blank" rel="noopener noreferrer">
                      <div class="option-admin">
                        <i [class]="red.icono"></i>
                        <!-- <p>{{ red.title }}</p> -->
                      </div>
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--second tab-->
    <div class="tab-pane " id="editar" role="tabpanel" aria-expanded="false">
      <div class="col-12">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title">{{ pageTitle }}</h4>
            <h6 class="card-subtitle">Ajustes</h6>
            <!-- <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button> -->
            <form class="form p-t-20 form-horizontal form-material" [formGroup]="confGeneralForm"
              >
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="select-input">Language</label>
                  <select class="form-control" formControlName="lang" required>
                    <option disabled value="">Seleccione</option>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="exampleInputuname">Razón social</label>
                  <div class="input-group">
                    <input type="text" formControlName="titulo" class="form-control" id="exampleInputuname"
                      placeholder="Razón social" />
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="exampleInputsubcategorias">Copy Right</label>
                  <div class="input-group">
                    <input type="text" formControlName="cr" class="form-control" id="exampleInputsubcategorias"
                      placeholder="Copy Right" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <label class="col-form-label font-weight-medium" for="text-input">Telefonos</label>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col">
                        <input class="form-control" type="number" placeholder="Telefono 1"
                          formControlName="telefono_uno" />
                      </div>
                      <div class="col">
                        <input class="form-control" type="number" placeholder="Telefono 2"
                          formControlName="telefono_dos" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label class="col-form-label font-weight-medium" for="text-input">Correos</label>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col">
                        <input class="form-control" type="email" placeholder="Email 1" formControlName="email_uno" />
                      </div>
                      <div class="col">
                        <input class="form-control" type="email" placeholder="Email 2" formControlName="email_dos" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Dirección</label>
                  <div class="col-md-12">
                    <ckeditor [editor]="Editor" formControlName="direccion" data="<p>Hello, world!</p>" required>
                    </ckeditor>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Horarios</label>
                  <div class="col-md-12">
                    <textarea class="form-control" id="textarea-input" rows="2" placeholder="Horarios de atención."
                      formControlName="horarios"></textarea>
                  </div>
                </div>
              </div>
              <!-- redes sociales -->
                        <div class="row " >
                            <details class="shadowSearch cuadrosearch">
                                <summary class="">{{'Social Networks'}}</summary>
                                <div class="row">
                                    <div class="col-12 col-sm-4">  
                                        <div class="form-group input-group ">
                                            <!-- <label >{{'formulario.Icon'}}<span class="login-danger">*</span></label> -->
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-info-circle"></i>
                                            </span>
                                            <select class="form-control" name="icono" 
                                            [ngModelOptions]="{standalone: true}"  [(ngModel)]="icono"
                                            (change)="onPaServiceSelect(icono)"
                                            >
                                                <option *ngFor="let ic of listIcons " value="{{ic.icon}}">
                                                {{ic.name}} <i class="{{ic.name}}"></i>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">  
                                        <label  class="labelgoogle">
                                            <input class="form-control input" name="title" placeholder=" " [ngModelOptions]="{standalone: true}"  [(ngModel)]="title" type="text" required>
                                            <span class="label__name">
                                                {{'Name'}} <span class="login-danger">*</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-4" *ngIf="!iswhatsapp">  
                                        <label class="labelgoogle">
                                            <input class="form-control input" name="url" placeholder=" " [ngModelOptions]="{standalone: true}"  [(ngModel)]="url" type="text" required>
                                            <span class="label__name">
                                                {{'Address'}}<span class="login-danger">*</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-4" *ngIf="iswhatsapp">  
                                        <div class="form-group ">
                                        <label class="labelgoogle">
                                            <input class="form-control input" placeholder=" " name="url" [ngModelOptions]="{standalone: true}"  [(ngModel)]="url" type="text" required>
                                            <span class="label__name">
                                                {{'Whatsapp Number'}}<span class="login-danger">*</span>
    
                                            </span>
                                        </label>
            
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <button class="btn btn-primary btn-sm text-end " (click)="addRedSocial()">+ {{'Add'}}</button>
                                        <!-- <button class="btn btn-danger btn-sm">x</button> -->
                                    </div>
                                </div>
                            </details>
                            
                            <div class="col-xs-12 ">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th>{{'Icon'}}</th>
                                                <th>{{'Name'}}</th>
                                                <th>{{'Address/Whatsapp'}}</th>
                                                <th>{{'Action'}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of redessociales ; let i=index">
                                                <td>
                                                    <i [class]="'fa' +' '+ item.icono" aria-hidden="true"></i>
                                                    
                                                </td>
                                                <td>
                                                     {{item.title}}
                                                    
                                                </td>
                                                <td>
                                                    {{item.url }}
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm text-end" (click)="deletered(i)">x</button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <!-- redes sociales -->

              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Mapa (iframe)</label>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <textarea class="form-control" id="textarea-input" placeholder="Código de google maps."
                          formControlName="iframe_mapa"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="select-input">Modo Sandbox?</label>
                  <select class="form-control" formControlName="modoPaypal">
                    <option disabled value="">SELECCIONAR</option>
                    <option [value]="true">Activo</option>
                    <option [value]="false">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Cliente Paypal</label>
                  <div class="col-md-12">
                    <textarea class="form-control" id="textarea-input" rows="3" placeholder="CLiente id paypal."
                      formControlName="clientePaypal"></textarea>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Sandbox Paypal</label>
                  <div class="col-md-12">
                    <textarea class="form-control" id="textarea-input" rows="3" placeholder="Sandbox paypal."
                      formControlName="sandbox"></textarea>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                  <label class="col-form-label font-weight-medium" for="textarea-input">Rapid Api</label>
                  <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="Rapid api key" formControlName="rapidapiKey" />
                  </div>
                </div>
              </div>

              <button type="button" [disabled]="confGeneralForm.invalid || isLoading"
              (click)="updateConfiguracion()"
                class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                <i class="fa fa-save"></i> Guardar cambios
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!--final tab-->

    <div class="tab-pane" id="imagen" role="tabpanel" aria-expanded="false">
      <div class="col-12">
        <div class="card " >
        <div class="card-body">
          <h4 class="card-title">imagen</h4>
          <h6 class="card-subtitle">Logo</h6>
          <div class="text-center">
            <img *ngIf="!imgTemp" [src]="congeneral.img | imagenPipe : 'congenerals'"
              class="img-responsive img-thumbnail" alt="" />
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
          </div>
          <input type="file" (change)="cambiarImagen($event.target.files[0])" />
          <br />
          <br />
          <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
            class="btn btn-success waves-effect waves-light m-r-10 btn-block">
            <i class="fa fa-save"></i> Cambiar imagen
          </button>
        </div>
      </div>
      <div class="card w-100">
        <div class="card-body">
          <h4 class="card-title">Favicon</h4>
          <h6 class="card-subtitle">Logo de navegador</h6>
          <div class="text-center">
            <img *ngIf="!imgTemp1" [src]="congeneral.favicon | imagenPipe : 'congenerals'"
              class="img-responsive img-thumbnail" alt="" />
            <img *ngIf="imgTemp1" [src]="imgTemp1" class="img-avatar" />
          </div>
          <input type="file" (change)="cambiarImagen1($event.target.files[0])" />
          <br />
          <br />
          <button type="button" [disabled]="!imagenSubir1" (click)="subirImagen1()"
            class="btn btn-success waves-effect waves-light m-r-10 btn-block">
            <i class="fa fa-save"></i> Cambiar imagen
          </button>
        </div>
      </div>
      </div>
      
    </div>
  </div>

</div>