<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <input type="text" class="form-control" placeholder="Buscar" #txtTermino (keyup)="buscar(txtTermino.value)"> -->

                <app-search [query]="query" [modelo]="slider" [colleccionName]="sliders"
        [colleccion]="'sliders'" (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <app-loading></app-loading>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h4 class="card-title">Slider: ({{ sliders.length}})</h4>
                    </div>
                    <div class="col-3">
                        <div class="text-right">
                            <button class="btn btn-primary" [routerLink]="['/dashboard/slider/create/']">
                            <i class="fa fa-plus"></i>
                            {{'Nuevo'| translate}}
                          </button>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{'Imagen'| translate}}</th>
                                <th>{{'Nombre'| translate}}</th>
                                <th>{{'Status'| translate}} </th>
                                <th> {{'Creado'| translate}}</th>
                                <th> {{'Actualizado'| translate}}</th>
                                <th class="text-nowrap">{{'Acciones'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let slider of sliders |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                                <td class="text-center">
                                    <img [routerLink]="['/dashboard/slider/edit', slider._id]"  [src]="slider.img | imagenPipe: 'sliders'" class="img-responsive avatar cursor" alt="{{slider.title}}">
                                    <!-- <img (click)="abrirModal(marca)" [src]="marca.imagenUrl | imagenPipe: 'marcas'" class="avatar cursor" alt="{{marca.nombre}}"> -->
                                </td>
                                <td>
                                    {{slider.first_title}}
                                </td>
                                <td>
                                    <div class="font-size-sm mb-4">
                                        <span class="badge badge-danger badge-shadow" *ngIf="slider.status == 'false'">{{slider.status}}</span>
                                        <span class="badge badge-success badge-shadow" *ngIf="slider.status == 'true'">{{slider.status}}</span>
                                        
                                    </div>
                                </td>
                                <td>
                                    {{slider.createdAt | date:'mediumDate'}}
                                </td>
                                <td>
                                    {{slider.updatedAt | date:'mediumDate'}}
                                </td>
                                
                                 <td class="text-nowrap text-center">

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-dark dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="czi-settings"></span> {{'Opciones'| translate}}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a [routerLink]="['/dashboard/slider/edit', slider._id]"
                                                class="dropdown-item"><span class="czi-edit-alt"></span>
                                                &nbsp;{{'Editar'| translate}}</a>
                                            <a (click)="eliminarSlider(slider)" class="dropdown-item"><span
                                                    class="czi-delete-document"></span> &nbsp;{{'Eliminar'|
                                                translate}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>