<div class="tab-content-set">
    <ul class="nav">
        <li>
            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                (click)="optionSelected(1)"> {{'Perfil'}}</a>
        </li>
        <li *ngIf="isDriver">
            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                (click)="optionSelected(2)">{{'Driver'}}</a>
        </li>
    </ul>
</div>
<div *ngIf="option_selectedd == 1">
    <div class="row">

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{pageTitle}}</h4>
                    <h6 class="card-subtitle">Ajustes</h6>
                    <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                    <form class="form p-t-20 form-horizontal form-material" [formGroup]="registerForm">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Nombres <span class="required">*</span></label>
                                <div class="input-group">
                                    <input class="form-control" type="text" formControlName="first_name"
                                        placeholder="Nombre">
                                    <div *ngIf="registerForm.get('first_name')?.touched && registerForm.get('first_name')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('first_name')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('first_name')?.errors?.['minlength']">
                                            Mínimo 3 Caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Apellidos <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="text" formControlName="last_name"
                                        placeholder="Apellido">

                                    <div *ngIf="registerForm.get('last_name')?.touched && registerForm.get('last_name')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('last_name')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('last_name')?.errors?.['minlength']">
                                            Mínimo 3 Caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Télefono <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="text" formControlName="telefono">
                                    <div *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('telefono')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('telefono')?.errors?.['minlength']">
                                            Número Válido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">IdDoc <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="text" formControlName="numdoc">
                                    <div *ngIf="registerForm.get('numdoc')?.touched && registerForm.get('numdoc')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('numdoc')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('numdoc')?.errors?.['minlength']">
                                            Número Válido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Email <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="text" formControlName="email" placeholder="Email">

                                    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('email')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('email')?.errors?.['email']">
                                            Email no válido
                                        </div>
                                        <div *ngIf="registerForm.get('email')?.errors?.['minlength']">
                                            Mínimo 3 Caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Password <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="password" formControlName="password"
                                        placeholder="Password">

                                    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('password')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
                                            Mínimo 3 Caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="exampleInputuname">Confirm Password <span class="required">*</span></label>
                                <div class="input-group">

                                    <input class="form-control" type="password" formControlName="password2"
                                        placeholder="Confirm Password">
                                    <div *ngIf="registerForm.get('password2')?.touched && registerForm.get('password2')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('password2')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('password2')?.errors?.['minlength']">
                                            Mínimo 3 Caracteres
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="icono">local <span class="required">*</span></label>
                                <div class="input-group">

                                    <!-- modificado por José Prados, agregado formControlName="local" -->
                                    <select formControlName="local" name="local" class="form-control">
                                        <option *ngFor="let tienda of listTiendas" value="{{tienda._id}}">
                                            {{tienda.local}} | {{tienda.nombre}}
                                        </option>
                                    </select>
                                    <div *ngIf="registerForm.get('local')?.touched && registerForm.get('local')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('local')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('local')?.errors?.['minlength']">
                                            Seleccione una opción
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 ">
                                <label class=" col-form-label font-weight-medium" for="text-input">Role <span
                                        class="required">*</span></label>
                                <div class="input-group">
                                    <select class="form-control" formControlName="role">
                                        <option disabled value="">SELECCIONAR</option>
                                        <option value="VENTAS">Ventas</option>
                                        <option value="TIENDA">Tienda</option>
                                        <option value="ALMACEN">Almacen</option>
                                        <option value="CHOFER">Chofer</option>
                                    </select>
                                    <div *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="registerForm.get('role')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="registerForm.get('role')?.errors?.['minlength']">
                                            Seleccione una opción
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" (click)="guardar()"
                            class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                            <i class="fa fa-save"></i> Guardar cambios
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="usertiendaSeleccionado">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">imagen</h4>
                    <h6 class="card-subtitle">Foto de Perfil</h6>
                    <div class="text-center">
                        <img *ngIf="!imgTemp" [src]="usertiendaSeleccionado.img | imagenPipe: 'usuarios'  "
                            class="img-responsive img-thumbnail" alt="">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                    </div>
                    <input type="file" (change)="cambiarImagen($event.target.files[0])">
                    <br>
                    <br>
                    <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
                        class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                        <i class="fa fa-save"></i> Cambiar imagen
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="option_selectedd == 2">
    <app-driverp-edit [usertiendaSeleccionado]="usertiendaSeleccionado"></app-driverp-edit>
</div>