<div class="row">

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{pageTitle}}</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">{{'Volver'| translate}}</button>
                <form [formGroup]="sliderForm" (ngSubmit)="onSubmit(sliderForm)" class="form-horizontal form-material">
                    <div class="card border-0 box-shadow">

                        <div class="card-body">
                            <div class="tab-content" style="margin-top: 20px;">
                                <div class="tab-pane fade active show">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6">
                                            <label class=" font-weight-medium" for="text-input">{{'Título'| translate}}</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text"
                                                    placeholder="Nombre del producto" formControlName="first_title">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6">
                                            <label class=" font-weight-medium" for="text-input">{{'Sub Título'| translate}}</label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text" placeholder="Titulo superior"
                                                    formControlName="subtitulo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-4">
                                            <label class=" font-weight-medium" for="text-input"> {{'Enlace'| translate}} <span
                                                    class="required">*</span></label>
                                            <div class="col-md-12">
                                                <input class="form-control" type="text" placeholder="enlace"
                                                    formControlName="enlace" required>
                                            </div>
                                        </div>
                                        <div class=" form-group col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="select-input"> {{'Alineación'| translate}}</label>
                                                <select class="form-control " formControlName="align">
                                                    <option disabled value="">{{'Selecione'| translate}}</option>
                                                    <option value="align-items-start">{{'Derecha'| translate}}</option>
                                                    <option value="align-items-center">{{'Centrado'| translate}}</option>
                                                    <option value="align-items-end">{{'Izquierda'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" form-group col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label for="select-input"> {{'Tono Texto'| translate}}</label>
                                                <select class="form-control " formControlName="color">
                                                    <option disabled value="">{{'Selecione'| translate}}</option>
                                                    <option value="text-light">{{'Claro'| translate}}</option>
                                                    <option value="text-dark">{{'Oscuro'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6">
                                            <label class=" font-weight-medium" for="text-input">{{'Status'| translate}}</label>
                                            <div class="col-md-12">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" formControlName="status"
                                                        type="checkbox" id="ex-check-01">
                                                    <label class="custom-control-label" *ngIf="slider.status"
                                                        for="ex-check-01">{{'Inactivo'| translate}}</label>
                                                    <input class="custom-control-input" formControlName="status"
                                                        type="checkbox" id="ex-check-02">
                                                    <label class="custom-control-label" *ngIf="!slider.status"
                                                        for="ex-check-02">{{'Activo'| translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6">
                                            <label class="font-weight-medium" for="text-input">{{'Target'| translate}}</label>
                                            <div class="col-md-12">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" formControlName="target"
                                                        type="checkbox" id="ex-check-1">
                                                    <label class="custom-control-label" *ngIf="slider.target"
                                                        for="ex-check-1">{{'Self'| translate}}</label>
                                                    <input class="custom-control-input" formControlName="target"
                                                        type="checkbox" id="ex-check-2">
                                                    <label class="custom-control-label" *ngIf="!slider.target"
                                                        for="ex-check-2">{{'Blank'| translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-xs-12 ">
                                            <label class=" col-form-label font-weight-medium" for="text-input">{{'Status'| translate}}
                                                <span class="required">*</span></label>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="select-input">{{'Visible'| translate}}</label>
                                                            <select class="form-control " formControlName="mostrarInfo"
                                                                required>
                                                                <option disabled value="">{{'Seleccione'| translate}}</option>
                                                                <option [value]="true">{{'Activo'| translate}}</option>
                                                                <option [value]="false">{{'Inactivo'| translate}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="select-input">{{'Destacado'| translate}}?</label>
                                                            <select class="form-control "
                                                                formControlName="mostrarboton">
                                                                <option disabled value="">{{'Seleccione'| translate}}</option>
                                                                <option [value]="true">{{'Activo'| translate}}</option>
                                                                <option [value]="false">{{'Inactivo'| translate}}</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success waves-effect waves-light m-r-10 btn-block" type="submit"><i
                                    class="fa fa-save"></i> {{'Guardar'| translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated fadeIn fast" *ngIf="sliderSeleccionado">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{'Imagen'| translate}}</h4>
                    <h6 class="card-subtitle"> {{'Logo de marca'| translate}}</h6>
                    <div class="text-center">
                        <img *ngIf="!imgTemp" [src]="sliderSeleccionado.img | imagenPipe: 'sliders'  "
                            class="img-responsive img-thumbnail" alt="">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                    </div>
                    <input type="file" (change)="cambiarImagen($event.target.files[0])">
                    <br>
                    <br>
                    <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
                        class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                        <i class="fa fa-save"></i> {{'Cambiar Imagen'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>