<div class="row">

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{pageTitle}}</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <app-backbutton></app-backbutton>
                <form class="form p-t-20 form-horizontal form-material" [formGroup]="blogForm" (submit)="updateBlog()">
                    <div class="row">
                        
                        <div class="form-group col-12 ">
                            <label for="exampleInputuname"> {{'Título'| translate}}<span class="required">*</span></label>
                            <div class="input-group">
    
                                <input type="text" formControlName="titulo" class="form-control" id="exampleInputuname" placeholder="titulo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        
                        <div class="form-group col-12 ">
                            <input class="form-control form-control-sm" type="text" placeholder="slug" formControlName="slug" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 ">
                            <label  for="text-input">{{'Descripción'| translate}} <span class="required">*</span></label>
                            <div class=" col-12 ">
    
                                <ckeditor [editor]="Editor" formControlName="descripcion" data="<p>Hello, world!</p>" required></ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 ">
                            <label  for="text-input">Video </label>
                            <div class="input-group">
                                <input type="text" formControlName="video_review" class="form-control" id="exampleInputuname" placeholder="Codigo de insercion de vídeo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 ">
                            <label for="select-input">{{'Destacado'| translate}}?</label>
                                <select class="form-control " formControlName="isFeatured">
                                    <option  disabled value="">{{'Seleccione'| translate}}</option>
                                    <option  [value]="true">{{'Activo'| translate}}</option>
                                    <option  [value]="false">{{'Inactivo'| translate}}</option>
                                </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="select-input">{{'Categoría'| translate}} <span class="required">*</span></label>
                            <select class="form-control " formControlName="categoria" required>
                              <option disabled  value="">{{'Seleccione'| translate}}</option>
                              <option *ngFor="let item of listCategorias" [value]="item._id">{{item.nombre}}</option>

                          </select>
                        </div>
                    </div>


                    <button type="submit" [disabled]="blogForm.invalid" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
             <i class="fa fa-save"></i> {{'Guardar'| translate}}
            </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated fadeIn fast" *ngIf="blogSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{'Imagen'| translate}}</h4>
                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="blogSeleccionado.img | imagenPipe: 'blogs'  " class="img-responsive img-thumbnail" alt="">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>
                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                <br>
                <br>
                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
          <i class="fa fa-save"></i> {{'Cambiar Imagen'| translate}}
         </button>
            </div>
            <div *ngIf="blogSeleccionado.video_review">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Video</h4>
                        <iframe class="videom" [src]="getVideoIframe(blogSeleccionado.video_review)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; " allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>