<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>En esta sección podrás:</p>
          <ul>
            <li>Ver las Categorías disponibles</li>
            <li>Crear Categorías adaptadas a tu negocio</li>
            <li>Encontrar por nombre</li>
            <li>Recomendamos no desactivar las categorías activas</li>
            <li>Puedes usar los ya existentes como guía o ejemplo</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continuar</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>