<section>
    <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
        <div class="row">

            <div class="col-lg-12">
                <div class="border-bottom boton-title">
                    <a href="javascript:;" (click)="PageSize()" class="btn btn-primary ">
                        <i class="fa fa-refresh"></i></a>
                    <h1 class="mt-lg-4">Pedidos</h1>
                </div>

                <app-loading *ngIf="cargando"></app-loading>
                <div class="row " *ngIf="!cargando">

                    <div class="col-md-6 col-lg-4 "
                        *ngFor="let item of pedidos |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">

                        <div class="card ">
                            <div class="card-body">
                                <div class="d-flex flex-column">
                                    <small>Pedido ID:</small>
                                    <p class="box-title m-b-0">{{item._id}}</p>
                                    <h4 class="card-title"><span class="lstick"></span>
                                        <span class="font-size-ms text-muted">
                                            {{item.createdAt|date :'MMM d, y, h:mm:ss a'}}
                                        </span>
                                    </h4>
                                    <div>
                                        <span class="badge badge-accent badge-shadow"
                                            *ngIf="(item.status || '').toUpperCase() === 'PENDING'">{{item.status ||
                                            'N/A'}}</span>
                                        <span class="badge badge-success badge-shadow"
                                            *ngIf="(item.status || '').toUpperCase() === 'ACTIVO'">{{item.status ||
                                            'N/A'}}</span>
                                        <span class="badge badge-primary badge-shadow"
                                            *ngIf="(item.status || '').toUpperCase() === 'INPROCESS'">{{item.status ||
                                            'N/A'}}</span>
                                        <span class="badge badge-secondary badge-shadow"
                                            *ngIf="!(item.status || '').toUpperCase()">N/A</span>
                                    </div>
                                </div>


                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-success"
                                        *ngIf="(item.status || '').toUpperCase() === 'PENDING'" data-toggle="modal"
                                        [attr.data-target]="'#activar-'+item._id">
                                        <span class="czi-check"></span> Activar</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        [attr.data-target]="'#ver-'+item._id">
                                        <span class="czi-eye"></span> Ver</button>
                                    <button type="button" class="btn btn-danger" (click)="eliminarPedido(item)">
                                        <span class="czi-delete-document"></span> Eliminar</button>
                                </div>
                            </div>
                            <div class="card ">

                                <!-- modal activar-->
                                <div class="modal fade" [attr.id]="'activar-'+item._id" tabindex="-1" role="dialog"
                                    style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirmación</h4>
                                                <button class="close" type="button" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="font-size-sm">Al aceptar, estás confirmando que el item
                                                    fué editado correctamente.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                    data-dismiss="modal">Cerrar</button>
                                                <button class="btn btn-primary btn-shadow btn-sm" type="button"
                                                    (click)="activar(item._id)">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal ver-->
                                <div class="modal fade" [attr.id]="'ver-'+item._id" tabindex="-1" role="dialog"
                                    style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Pedido: {{item._id}}</h4>
                                                <div>
                                                    <span class="badge badge-accent badge-shadow"
                                                        *ngIf="(item.status || '').toUpperCase() === 'PENDING'">{{item.status
                                                        ||
                                                        'N/A'}}</span>
                                                    <span class="badge badge-success badge-shadow"
                                                        *ngIf="(item.status || '').toUpperCase() === 'ACTIVO'">{{item.status
                                                        ||
                                                        'N/A'}}</span>
                                                    <span class="badge badge-primary badge-shadow"
                                                        *ngIf="(item.status || '').toUpperCase() === 'INPROCESS'">{{item.status
                                                        ||
                                                        'N/A'}}</span>
                                                    <span class="badge badge-secondary badge-shadow"
                                                        *ngIf="!(item.status || '').toUpperCase()">N/A</span>
                                                </div>
                                                <button class="close" type="button" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>{{item.user.first_name}} {{item.user.last_name}}</h3>
                                                <!-- <p>{{item.user.numdoc}}</p> -->
                                                <p> <i class="fa fa-whatsapp"></i>
                                                    {{item.user.telefono}}</p>
                                                <hr>
                                                <ul *ngFor="let pedidoitem of item.pedidoList;  let i = index">
                                                    <li>
                                                        <span class="productitemcard">
                                                            <h4> Plato: {{pedidoitem.titulo}}</h4>
                                                            <p>Cant: {{pedidoitem.cantidad}}</p>
                                                            <p *ngIf="pedidoitem.subcategoria === 'Pastas'">Salsa:
                                                                {{pedidoitem.nombre_selector}}</p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12" *ngIf="!cargando">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</section>

<app-modalinfo-pedidos-list></app-modalinfo-pedidos-list>