<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" >
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- profile -->
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="usuario.img | imagenPipe: 'usuarios' " alt="{{usuario.first_name|slice:0:1}} {{usuario.last_name |slice:0:1}}" />
                        <span class="hide-menu">{{usuario.first_name}} </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="./perfil" routerLinkActive="active">{{'My Profile'| translate}} </a></li>
                        <li><a routerLink="account-settings">{{'Account Setting'| translate}}</a></li>
                        
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <!-- contenido, blog, page -->
                <!-- <li class="nav-small-cap" *ngIf="usuario.role ==='SUPERADMIN'">{{'Contenido'| translate}}</li>
                <li *ngIf="usuario.role ==='SUPERADMIN'">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">{{'Contenido'| translate}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse" *ngIf="usuario.role ==='SUPERADMIN'">
                        <li><a routerLink="slider" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Slider Home'| translate}} </a></li>
                        <li><a routerLink="blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Blog'| translate}} </a></li>
                        <li><a routerLink="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Page'| translate}} </a></li>


                    </ul>
                </li> -->
                <li class="nav-devider" *ngIf="usuario.role ==='SUPERADMIN'"></li>
                <!-- tienda -->
                <!-- <li class="nav-small-cap" *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN'|| usuario.role ==='TIENDA'"  >{{'Tienda'| translate}}</li>
                <li *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='TIENDA'">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">{{'Tienda'| translate}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a routerLink="tienda" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Tiendas'| translate}} </a></li>
                        <li><a routerLink="tienda/pedidos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Pedidos'| translate}} </a></li>
                        <li><a routerLink="atencion-local" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Atención Local'| translate}} </a></li>
                        <li><a routerLink="tienda-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Usuarios Tienda'| translate}} </a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li> -->
                <!-- productos -->
                <li class="nav-small-cap" *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='ALMACEN' || usuario.role ==='VENTAS'">{{'Productos'| translate}}</li>
                <li *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='ALMACEN' || usuario.role ==='VENTAS'">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">{{'Productos'| translate}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">

                        <!-- <li><a routerLink="marca" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Marcas'| translate}} </a></li> -->
                        <li><a routerLink="categoria" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Categorías'| translate}} </a></li>
                        <!-- <li><a routerLink="producto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Productos'| translate}} </a></li> -->
                        <!-- <li *ngIf="usuario.role ==='SUPERADMIN' "><a routerLink="promocion" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Promoción'| translate}} </a></li> -->


                    </ul>
                </li>
                <li class="nav-devider" *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='ALMACEN' || usuario.role ==='VENTAS'"></li>
                <!-- delivery -->
                 <li class="nav-small-cap" *ngIf="usuario.role ==='SUPERADMIN' ">{{'Delivery'| translate}}</li>
                <li *ngIf="usuario.role ==='SUPERADMIN' ">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">{{'Delivery'| translate}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="postal" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Delivery '|translate}}</a></li>
                        <li><a routerLink="postal/asignaciones" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Asignaciones '|translate}}</a></li>
                        <li><a routerLink="postal/mapa" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Mapa '|translate}}</a></li>
                    </ul>
                </li>
                <li class="nav-devider" *ngIf="usuario.role ==='SUPERADMIN'"></li>
                <!-- administracion -->
                <li class="nav-small-cap" *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='VENTAS'">{{'Adminstración'| translate}}</li>
                <li *ngIf="usuario.role ==='SUPERADMIN' || usuario.role ==='ADMIN' || usuario.role ==='VENTAS'">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">{{'Adminstración'| translate}}
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a routerLink="ventas/modulo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Ventas'| translate}} </a></li>
                        <li><a routerLink="tipos-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Tipos de Pago'| translate}} </a></li>
                        <li><a routerLink="transferencias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Transferencias'| translate}} </a></li>
                        <!-- opcion de pagos en efectivo agregado por José Prados -->
                        <li>
                            <a routerLink="pagosefectivo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                 {{'Pagos en Efectivo'| translate}}
                            </a>
                        </li>
                        <li *ngIf="usuario.role ==='SUPERADMIN' ">
                            <a routerLink="pagoscheque" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                 {{'Pagos en Cheque'| translate}}
                            </a>
                        </li>
                        <li *ngIf="usuario.role ==='SUPERADMIN' "><a routerLink="cupon" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Cupón'|translate}} </a></li>
                        <li *ngIf="usuario.role ==='SUPERADMIN' "><a routerLink="contacto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Contacto'|translate}} </a></li>                  
                        <!-- <li><a routerLink="ingresos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">ingresos </a></li> -->
                        <li *ngIf="usuario.role ==='SUPERADMIN' "><a routerLink="cancelacion/modulo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Cancelación'|translate}} </a></li>
                        <li *ngIf="usuario.role ==='SUPERADMIN' "><a routerLink="tikets/modulo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Ticket'|translate}} </a></li>
                        <li><a routerLink="usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'Usuarios'|translate}} </a></li>


                    </ul>
                </li>
                <li><a (click)="logout()" class="cursor">{{'Logout'|translate}}</a></li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>


<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->