<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <app-search [query]="query" [modelo]="pagoscheque" [colleccionName]="pagoscheques"
        [colleccion]="'pagoscheques'" (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre y Apellido</th>
                                    <th>N.Cheque</th>
                                    <th>Monto</th>
                                    <th>Teléfono</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pago of pagoscheques; let i=index">
                                    <td>{{i}}</td>
                                    <td>{{pago.name_person}}</td>
                                    <td>{{pago.ncheck}}</td>
                                    <td>{{pago.amount|currency}}</td>
                                    <td>{{pago.phone}}</td>
                                    <td>{{pago.paymentday | date : "shortDate"}}</td>
                                    <td>
                                        <span class="badge badge-primary badge-shadow"
                                            *ngIf="pago.status == 'pending'">{{pago.status}}</span>
                                        <span class="badge badge-success badge-shadow"
                                            *ngIf="pago.status == 'ok'">{{pago.status}}</span>
                                        <span class="badge badge-danger badge-shadow"
                                            *ngIf="pago.status == 'no'">{{pago.status}}</span>

                                    </td>
                                    <td>
                                        <select class="form-control form-select-solid fw-bolder" name="state"
                                            [(ngModel)]="pago.status" (change)="cambiarStatus(pago)"
                                            placeholder="state">
                                            <option>-- Select --</option>
                                            <option value="pending">Pendiente</option>
                                            <option value="ok">Aprobado</option>
                                            <option value="no">Rechazado</option>
                                        </select>
                                    </td>

                                </tr>
                                <tr *ngIf="pagoscheques.length<=0">
                                    <td colspan="5">
                                        <div class="alert alert-danger">
                                            No hay pagos en efectivo registrados
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>