<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>En esta sección podrás:</p>
          <p>Puedes Usar esta Aplicación como Caja Registradora!</p>
          <ol>
            <li>Busca o registra el cliente</li>
            <li>Agrega los artículos al carrito</li>
            <li>Procesa los pagos</li>
          </ol>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continuar</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>