<div class="row">

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{pageTitle}}</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                <form class="form p-t-20 form-horizontal form-material" [formGroup]="pageForm" (submit)="updatePage()">
                    <div class="row">
                        
                        <div class="form-group col-12 ">
                            <label for="exampleInputuname">Título<span class="required">*</span></label>
                            <div class="input-group">
    
                                <input type="text" formControlName="titulo" class="form-control" id="exampleInputuname" placeholder="titulo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        
                        <div class="form-group col-12 ">
                            <input class="form-control form-control-sm" type="text" placeholder="slug" formControlName="slug" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 ">
                            <label  for="text-input">Descripción <span class="required">*</span></label>
                            <div class=" col-12 ">
    
                                <ckeditor [editor]="Editor" formControlName="descripcion" data="<p>Hello, world!</p>" required></ckeditor>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 ">
                            <label  for="text-input">video de youtube</label>
                            <div class="input-group">
                                <input type="text" formControlName="video_review" class="form-control" id="exampleInputuname" placeholder="Codigo de insercion de vídeo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="select-input">Categoría <span class="required">*</span></label>
                            <select class="form-control " formControlName="categoria" required>
                            <option disabled  value="">SELECCIONAR</option>
                            <option *ngFor="let item of listCategorias" [value]="item._id">{{item.nombre}}</option>

                        </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="select-input">Destacado?</label>
                            <select class="form-control " formControlName="isFeatured">
                              <option  disabled value="">SELECCIONAR</option>
                              <option  [value]="true">Activo</option>
                              <option  [value]="false">Inactivo</option>

                          </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="select-input">Menu</label>
                            <select class="form-control " formControlName="origen">
                              <option  disabled value="">SELECCIONAR</option>
                              <option  value="header">Header</option>
                              <option  value="footer">Footer</option>
                              <option  value="ambos">Ambos</option>

                          </select>
                        </div>
                    </div>


                    <button type="submit" [disabled]="pageForm.invalid" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
           <i class="fa fa-save"></i> Guardar cambios
          </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated fadeIn fast" *ngIf="pageSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Image</h4>
                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="pageSeleccionado.img | imagenPipe: 'pages'  " class="img-responsive img-thumbnail" alt="">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>
                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                <br>
                <br>
                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
        <i class="fa fa-save"></i> Cambiar imagen
       </button>
            </div>
        </div>
        <div *ngIf="pageSeleccionado.video_review">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Video</h4>
                    <iframe class="videom" [src]="getVideoIframe(pageSeleccionado.video_review)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; " allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
