<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <app-search [query]="query" [modelo]="pagoefectivo" [colleccionName]="pagoefectivos"
        [colleccion]="'pagoefectivos'" (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre y Apellido</th>
                                    <th>Monto</th>
                                    <th>Teléfono</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pago of pagoefectivos | orderBy:'createdAt, desc'; let i=index ">
                                    <td>{{i}}</td>
                                    <td>{{pago.name_person}}</td>
                                    <td>{{pago.amount|currency}}</td>
                                    <td>{{pago.phone}}</td>
                                    <td>{{pago.paymentday | date : "shortDate"}}</td>
                                </tr>
                                <tr *ngIf="pagoefectivos.length<=0">
                                    <td colspan="5">
                                        <div class="alert alert-danger">
                                            No hay pagos en efectivo registrados
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>