<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-search [query]="query" [modelo]="tipo" [colleccionName]="tipos"
        [colleccion]="'tipos'" (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h4 class="card-title">Tipos: ({{ tipos.length}})</h4>
                        <h6 class="card-subtitle">Categoría registrados en la app</h6>
                    </div>
                    <div class="col-3">
                        <div class="text-right">
                            <button class="btn btn-primary" [routerLink]="['/dashboard/categoria/create/']">
                            <i class="fa fa-pencil"></i>
                            Crear Categoría Vehiculos
                          </button>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>img</th>
                                <th>Categoria</th>
                                <th>Status</th>
                                <th>Creación</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tipo of tipos |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                                <th scope="row"><span class="{{tipo.icono}}"></span></th>
                                <td class="text-center">
                                    <img [routerLink]="['/dashboard/categoria/edit',tipo._id]" [src]="tipo.img | imagenPipe: 'tipos'" class="avatar cursor" alt="{{tipo.nombre}}">
                                </td>
                                <td>{{tipo.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-accent" *ngIf="tipo.status == 'Edición' || tipo.status == 'Desactivado'" data-toggle="modal" [attr.data-target]="'#activar-'+tipo._id"><span class="czi-check"></span> Activar</button>

                                    <div class="modal fade" [attr.id]="'activar-'+tipo._id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmación</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="font-size-sm">Al aceptar, estás confirmando que el tipo fué editado correctamente.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                                    <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="activar(tipo._id)">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-primary" *ngIf="tipo.status == 'Activo'" data-toggle="modal" [attr.data-target]="'#desactivar-'+tipo._id"><span class="czi-close"></span> Desactivar</button>
                                    <div class="modal fade" [attr.id]="'desactivar-'+tipo._id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmación</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="font-size-sm">Al aceptar el tipo, no será visible en la tienda.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                                    <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="desactivar(tipo._id)">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-secondary" data-toggle="modal" [attr.data-target]="'#papelera-'+tipo._id"><span class="czi-remove-folder
                                    "></span> Papelera</button>

                                    <div class="modal fade" [attr.id]="'papelera-'+tipo._id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmación</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="font-size-sm">El tipo se moverá a la papelera de reciclaje.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                                    <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="papelera(tipo._id)">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="text-muted" *ngIf="tipo.status == 'Edición'" style="font-size: 13px;">Este tipo aún se encuentra en edición.</span>
                                    <span class="text-muted" *ngIf="tipo.status == 'Desactivado'" style="font-size: 13px;">Este tipo aún no está disponible en la tienda.</span>

                                </td>
                                <td>{{ tipo.createdAt | date:'MMM d, y, h:mm:ss a' }}</td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/categoria/edit', tipo._id]" class="cursor" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminartipo(tipo)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>