<!-- Content-->
<section class="pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
        <div class="tab-content-set">
            <ul class="nav">
                <li>
                    <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                        (click)="optionSelected(1)"> {{'Asignar Entrega'| translate}}</a>
                </li>
                <li>
                    <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                        (click)="optionSelected(2)">{{'Mapa'| translate}}</a>
                </li>
                <li>
                    <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 3}"
                        (click)="optionSelected(3)">{{'Configuración'| translate}}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="option_selectedd == 1">
            <app-asignar-delivery></app-asignar-delivery>
        </div>
        <div *ngIf="option_selectedd == 1">
            <app-mapa></app-mapa>
        </div>
        <div class="row" *ngIf="option_selectedd == 3">
            <div class="container">
                <div class="col-xs-12 form-group">
                    <div class="card">
                        <div class="col-lg-12" *ngIf="msm_error">
                            <div class="alert alert-primary alert-danger fade show" role="alert">
                                <span class="font-weight-medium">Mensaje:</span> {{msm_error}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    (click)="close_alert()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="!crearNuevo">
                            <button class="btn btn-primary" (click)="optionCrear()">
                                <i class="fa fa-pencil"></i>
                                Crear
                            </button>
                        </div>
                        <div class="col-lg-12 card" *ngIf="!crearNuevo">
                            <div class="table-responsive table-sm">
                                <table class="table table-sm">
                                    <thead class="thead-dark">
                                        <tr>

                                            <th>Empresa</th>
                                            <th>Tiempo</th>
                                            <th>Precio</th>
                                            <th>OP</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of postales">
                                        <tr>
                                            <td style="font-size: 13px;">{{item.titulo}}</td>
                                            <td style="font-size: 13px;">{{item.tiempo}}</td>
                                            <td style="font-size: 13px;">{{item.precio}}</td>
                                            <td class="text-center">
                                                <a class="nav-link-style text-danger" data-toggle="modal"
                                                    [attr.data-target]="'#delete-'+item._id" style="cursor:pointer">
                                                    <div class="czi-trash"></div>
                                                </a>
                                                <div class="modal fade" [attr.id]="'delete-'+item._id" tabindex="-1"
                                                    role="dialog" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Confirmación</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="font-size-sm">¿Desea eliminar definitivamente
                                                                    el regsitro?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary btn-sm" type="button"
                                                                    data-dismiss="modal">Cancelar</button>
                                                                <button class="btn btn-primary btn-shadow btn-sm"
                                                                    type="button"
                                                                    (click)="eliminar(item._id)">Suprimir</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-group" *ngIf="crearNuevo">
                    <button class="btn btn-outline-danger" (click)="cerrarOptionCrear()">
                        <i class="fa fa-close"></i>
                        Cerrar
                    </button>
                    <form #postalForm="ngForm" (ngSubmit)="onSubmit(postalForm)">
                        <div class="card">
                            <div class="card-header">
                                <b>Nuevo medio</b>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">

                                    <div class="col-xs-12 col-sm-6 form-group">
                                        <label for="normal-input">Empresa o Tipo de envio</label>
                                        <input class="form-control" type="text" name="titulo"
                                            [(ngModel)]="postal.titulo" required placeholder="Empresa o tipo de envío">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-group">
                                        <label for="normal-input">Tiempo estimado</label>
                                        <input class="form-control" type="text" name="tiempo"
                                            [(ngModel)]="postal.tiempo" required placeholder="10 - 15 días">
                                    </div>
                                    <div class="col-xs-12  col-sm-6 form-group">
                                        <label for="normal-input">Precio</label>
                                        <input class="form-control" type="number" name="precio"
                                            [(ngModel)]="postal.precio" required placeholder="Precio del envio">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-group">
                                        <label for="normal-input">Días</label>
                                        <input class="form-control" type="number" name="dias" [(ngModel)]="postal.dias"
                                            required placeholder="En cuantos días llega aprox.">
                                    </div>
                                </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary ">Crear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>